#services {
	background-color: #D9C8A2;
	padding-top: 30px;
}

#portfolio {
	background-color: #D46129; 
	padding-bottom: 50px;
}

.jumbotron {
	background-color: #496158;
	text-align: center;
	color: white;
	margin-bottom: 0;
	font-family: 'Arvo', serif;
}

.jumbotron a:link {
	color: white;
}

.jumbotron a:hover {
	color: #D46129;
}

.fa-phone-square {
	padding-top: 20px;
}

.portfolio {
	text-align: center;
	font-family: 'Arvo' , sans-serif;
	color: white;
	text-transform: uppercase;
}


.portfolio hr {
	border-top: 2px solid white;
	width: 500px;
	margin-bottom: 30px;
}

.portfolio img {
	width: 90%;
	height: 90%;
}

.portfolio a:link {
	color: white;
}

.portfolio a:hover {
	color: #496158;
}

.services {
	text-align: center;
	font-family: 'Arvo', sans-serif;
}	

.services h1 {
	padding-bottom: 20px;
	text-transform: uppercase;
}

.services p {
	font-size: 20px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.services hr {
	border-top: 2px solid white;
	width: 500px;
	margin-top: 10px;
	margin-bottom: 40px;
}

footer {
	background-color: #869C80;
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'Arvo', sans-serif;
	font-size: 15px;
	color: white;
}

/*Responsive Media*/

@media (max-width: 991px) {

	.portfolio img {
		padding-bottom: 20px;
	}
}

@media (max-width: 767px) {

	.jumbotron p{
		font-size: 15px;
	}

	.portfolio hr {
		width: 200px;
	}

	.services hr {
		width: 200px;
	}
}